.divMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
}

.select {
  width: 150px;
  font-family: 'Fira Code Retina', Consolas, monospace, Arial;
}
